{% extends 'climate/base.html' %}

{% block body_block %}


 	
  <div class="jumbotron" style="background-image: url(&quot;/static/climate/css/lightning.jpg&quot;)">
      <div class="container">
        <h1>ClimAlytics</h1>
        <p>ClimAlytics aims to create predictable climate visualization (CV)
        	 of a geographical area based on historical data for the geographical area of interest.<br>
        	  </p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/index/">Home &raquo;</a></p>
      </div>
    </div>
    
 
    <div class="container">
    
 
    <p>
    ClimAlytics is created for the Penn State Masters of Software Engineering Program 
    SWENG 500 Software Engineering Studio course.  It is intended as a <i>proof-of-concept</i> to illustrate 	
    that it is possible to render a predictable climate visualization of a geographical area based on historical data,
    utilizing extremely low-cost, commodity virtual infrastructure (Amazon Web Services), integrating data from a mixture of public sources,
    in a short amount of time.  It is recognized that the students developing the system are not climatology experts,
    and the system is to serve as a proof-of-concept as to the use of tools used for the effort, as well as to serve as 
    food-for-thought to the internet-using public whom may have an interest in climate change and temperature data.  The SWENG 500
    software team makes no statistical guarantees as to the accuracy of temperature predictions at this time.
    </p>
    
    <p>
    	The finished system will be delivered as a simple web-based tool  that can be used to open a remote dataset containing climate data for analytic visualization based on historical climate data.
    	 The tool will make climate projections based on climate data analysis.
    </p>

	<p>
	System Authors:
		<ul>Ryan Handerhan</ul>
		<ul>Eduardo Linan</ul>
	</p>
	
	<p> Course Advisor: Dr. Adrian Barb</p>

	</div>
    
{% endblock %}
